<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include('../partials/head'); %>
    <title><%= title %></title>
  </head>
  <body>
    <div><%- include('../partials/menu'); %></div>

    <h1><%= title %></h1>

    <p><%= text %></p>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
